In [1]:
import pandas as pd

In [44]:
start = pd.DataFrame(columns=['id', 'username', 'first_name', 'last_name', 'language_code', 'is_bot', 'link_source'])
start = start.append({'id': 208470137,
              'username': 'Vladimir',
              'first_name': None,
              'last_name': None,
              'language_code': 'ru',
              'is_bot': False,
              'link_source': None}, ignore_index=True)
start = start.append({'id': 208470138,
              'username': 'Vladimir',
              'first_name': None,
              'last_name': None,
              'language_code': 'ru',
              'is_bot': False,
              'link_source': None}, ignore_index=True)
start.to_csv('tg_users.csv', index_label='index')
start

          id  username first_name last_name language_code is_bot link_source
0  208470137  Vladimir       None      None            ru  False        None
1  208470138  Vladimir       None      None            ru  False        None

In [45]:
users_list = pd.read_csv('tg_users.csv', index_col='index')['id']
list(users_list)

[208470137, 208470138]

In [38]:
def add_start_user(message):
    """ Записывает данные пользователей, нажавших старт """

    user_details = message.json['from']
    user_details['link_source'] = message.text.split()[1] if len(message.text.split()) > 1 else None
    start_storage = pd.read_csv('tg_users.csv', index_col='index')
    users_list = list(start_storage['id'])
    print(user_details)
    
    if 'first_name' not in user_details.keys():
        user_details['first_name'] = None

    if 'last_name' not in user_details.keys():
        user_details['last_name'] = None

    if 'username' not in user_details.keys():
        user_details['username'] = None

    if 'language_code' not in user_details.keys():
        user_details['language_code'] = None

    if 'is_bot' not in user_details.keys():
        user_details['is_bot'] = False

    if 'id' not in user_details.keys():
        user_details['id'] = None

    if message.from_user.id not in users_list:
        try:
            start_storage = start_storage.append(user_details, ignore_index=True)
            start_storage.to_csv('tg_users.csv', index_label='index')
            
        except Exception as e:
            print(e)
            return 'Ошибка! Не могу записать юзера!'
        return 'New start click was heard'

    else:
        return 'Not a new user clicked start'

In [46]:
pd.read_csv('../tg_users.csv', index_col='index')

,id,username,first_name,last_name,language_code,is_bot,link_source
index,,,,,,,
0,208470137,kulyashov,Vladimir,Kulyashov,ru,False,NaN